h2{margin-top: 0;}
.say-btn{width: 85%;text-align:right;margin-top:12px;}
.right{text-align: right;}
.chat-container .container{position: relative;background: rgba(0,0,0,.5) !important;width: 100%;height: 100%;margin: 0 auto;padding: 0;}
.mes_input{background: #fff;padding: 5px 10px 5px 6px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;-webkit-box-orient: horizontal;-moz-box-orient: horizontal;-ms-box-orient: horizontal;box-orient: horizontal;display: -webkit-box;display: -moz-box;display: box;width: 100%;}
.keydown_voice{cursor: pointer;display: block;text-align: center;box-sizing: border-box;color: #333;display: block;height: 50px;line-height: 50px;font-family: "微软雅黑";resize: none;word-spacing:8px;letter-spacing: 2.5px;white-space: pre-wrap;word-break: initial;-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}
.textarea{    border-radius: 4px;font-size: 25px;display: block;background: 0;box-sizing: border-box;color: #333;background: #f9f9f9;-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);box-shadow: inset 0 1px 4px rgba(0,0,0,.2);display: block;height: 50px;line-height: 35px;font-family: "微软雅黑";resize: none;word-spacing:8px;letter-spacing: 2.5px;white-space: pre-wrap;word-break: initial;-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1; max-height: 200px; overflow: auto;}
.bagimg img{z-index: -1;display: block;position: absolute;width: 100%;height: 100%;top: 0;left: 0;-webkit-animation-name: fadeInOut;-webkit-animation-timing-function: ease-out;-webkit-animation-duration: 2s;-webkit-animation-direction: alternate;}
.mes_footer{display: none;width: 100%;position: fixed;left: 0;bottom: 0;border-radius: 0 0 6px 6px;-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;}
.speech_item{color: #fff;}
.mes_title{padding: 3px;border-bottom: 1px solid #fff;text-align: center;cursor: move;}
.mes_title_con{text-align: center;color: #fff;display: inline-block;}
.mes_con_box{height: 100% ;}
.mes_ren{width: 48px;height: 48px;background: url(../images/ren1.png) no-repeat;display: inline-block;position: absolute;cursor: pointer;margin-left: 10px;}
.mes_rens{width: 48px;height: 48px;background: url(../images/ren.png) no-repeat;display: inline-block;position: absolute;cursor: pointer;left: 90px;}
.groupMan{width: 48px;height: 48px;background: url(../images/addMan1.png) no-repeat;display: inline-block;position: absolute;cursor: pointer;right: 10px;margin-left: 10px;}
.he-ov-box{position: absolute;left: 0;width: 100%;top: 50px;bottom: 50px;overflow: auto;}
.he-ov-box li{margin: 10px 10px;}
.he-ov-box ul{ margin: 0;padding: 0; }

/* 正在加载 */
@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }

  5% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }

  5% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } 
}

.ball-scale-multiple {
  position: relative;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px); }
  .ball-scale-multiple > div:nth-child(2) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .ball-scale-multiple > div:nth-child(3) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .ball-scale-multiple > div {
    background-color: #279fcf;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
            animation: ball-scale-multiple 1s 0s linear infinite; 
}
.chat_loader{ 
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999999999;
    width: 100%;
    height: 100%;
}
.chat_loader .loader-inner{
	position: relative;
    top: 50%;
    left: 50%
}
.he_ov{width: 100%;/*min-height: 100%;*/}
/* 消息客服*/.kefu-icon{ background: url('/chat/images/kefu.png') no-repeat center;height: 40px;}


/*滚动条*/.emoticons::-webkit-scrollbar{width:100px ;display: block; }
.emoticons::-webkit-scrollbar{ width:10px;height:10px }
.emoticons::-webkit-scrollbar-track{ background:rgba(255,102,213,0) }
.emoticons::-webkit-scrollbar-thumb{background:rgba(226,226,226,.46);border-radius:10px}
.emoticons::-webkit-scrollbar-corner{background:#82afff}
.emoticons::-webkit-scrollbar-resizer{background:#ff0bee}
.emoticons{display: none;padding: 10px 0;background: #fff;height: 100px;overflow: auto;}
.em_gif{cursor: pointer;width: 24px;height: 24px;display: inline-block;}
.group-list{box-shadow: 0 0 5px #ccc;cursor: move;display: none;z-index: 99;background: #fff;position: absolute;width: 200px;height: 500px;left: 50%;top: 50%;margin-left: -100px;margin-top: -250px;}

/* 通知消息 */

/* 对话框切换  */
.session-tab{ width: 200px;background-color: #EFEFEF;    height: 100%;position: absolute;right: 100%;padding: 5px;display: none; }
.session-tab ul li{height: 50px; line-height: 50px; position: relative;margin: 5px 0;cursor:pointer;}
.session-tab ul li span.session-tab-head{float: left;padding: 3px;margin: 3px 5px; height: 40px;width: 40px; line-height: 40px; overflow: hidden;display: inline-block; }
.session-tab ul li span.session-tab-name{ height: 40px;line-height: 40px; display: inline-block; }
.session-tab ul li img{ height: 40px; float: left;}
.session-tab ul li span.session-tab-close{ position: absolute; height: 50px;line-height: 50px;  width: 32px;  text-align: center; right: 0;font-size: 24px;top: 0;}
/*.session-tab ul li:hover .session-tab-close{ display: inline-block;} */
.chat-tab-content{ height: 100%;display: none; }
.chating-content{display: block; }
.chat-sessioning{ background-color: #fff !important; }
.session-tab-close{ display: none; }

/****************   主面板     *******************/
.chat-main-footer{ position: absolute; bottom: 0; width: 100%; height: 37px;line-height: 37px;background-color: #DED6D6; }
.chat-main-footer ul li { float: left;width: 25%;text-align: center; cursor: pointer; }
.foot-curColor{ background-color: #8C8C8C; }
.all-search{ background:url('/chat/images/searchFriend.png') center no-repeat; width: 56px;height: 37px; line-height: 37px;display: inline-block;cursor: pointer;  }
.search-box{  }
.search-box input{ padding: 6px 32px 6px 12px; }
.searchAll-icon{ position: absolute; right: 0px; width: 50px;height: 32px; display: inline-block;line-height: 32px;top: 15px;background: url('/chat/images/search.png') left no-repeat; }

.chat-home { width: 32px;height: 38px;line-height: 38px; background: url('/chat/images/homepage.png') center no-repeat; display: inline-block; }
/***********************************/

/*********** 对话面板  *******************/
.dropDown-showMan-n{    background: url('/chat/images/xialaIng.png') center no-repeat;width: 33px; height: 25px;line-height: 68px;display: inline-block;padding: 5px; }
.chat-show-groupMan-box{ height: 200px; overflow: auto; } 
.chat-show-groupMan{position: absolute;background-color: #eee;width: 100%;border-left: 3px #337ab7 solid;}
.chat-show-groupMan li { width: 118px;text-align: center; height: 60px; border-radius: 100%;display: inline-block; padding: 10px 0;}
.chat-show-groupMan li img{ width: 46px; height: 46px; border-radius: 100%; }
.chat-show-groupMan li p {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/***************************************/
/*--------------------- 好友 查找----------------*/
.friendItem{ width: 260px;height: 71px;float: left;margin: 10px 10px; }
.friendItem img{ width: 60px;}
.friendHeader{ height: 100%; width: 60px;float: left; }
.friendInfo{ height: 100%; width: 190px;float: left;margin-left: 10px; }
.friendInfo span{ height: 24px; width: 200px;display: inline-block;cursor: pointer;}
/*.chat-session :hover{ background-color: rgba(0,0,0,0.5); }*/
/***********最近联系人 搜索************/
li.search-ren{ padding-left: 32px !important; height: 37px !important;line-height: 34px !important;margin: 0; padding-top:0 ;  /* border: none; */  position: absolute;top: 0px;width: 100%;z-index: 222;background: #fff;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
li.search-ren input{ width: 100%;    height: 32px;line-height: 32px;border: none;outline: none;    font-size: 15px; }
li.search-ren i.search-icon{position: absolute;top: 0;left: 0; width: 32px;height: 32px;line-height: 32px; display: inline-block;background: url('/chat/images/search.png') center no-repeat; }
i.fri-icon{width: 32px;height: 32px;line-height: 32px; display: inline-block;background: url('/chat/images/fri.png') center no-repeat;padding: 18px; }
i.fri-sanjiao{ display: none;    width: 0;height: 0;border-bottom: 8px solid #955F34;border-left: 6px solid transparent;border-right: 6px solid transparent;position: absolute;right: 11px;top: 100%;margin-left: -5px;margin-top: -7px; }
.search-ren-res{ position: absolute;top: 142px;left: 0;width: 100%;z-index: 1; border-top: none !important; height: 100%;background-color: #fff;display: none; z-index: 333333;}
.search-ren-res li{     font-size: 16px;border-bottom: 1px solid #ccc;cursor: pointer;padding-left: 2px;line-height: 40px;padding-top: 2px;padding-bottom: 2px;width: 100%; }
.search-ren-pos{ position: relative; }
.recent-box{position: absolute; z-index: 111;background-color: #fff;width: 100%; }
.recent-box li{ width: 100%;    font-size: 16px;border-bottom: 1px solid #ccc;cursor: pointer;padding-left: 2px;line-height: 40px;padding-top: 2px;padding-bottom: 2px;width: 100%;}
.com-recent-box{ margin-top: 123px; }
/***********end************/
.group-list ul{height: 400px;overflow: auto;}
.session_no{cursor: pointer;background: #fff;}
/*.panel{border: none;border-bottom: 1px dashed #ccc !important;}*/
/*.panel-default>.panel-heading{background-color: #F7F3F3;}*/
/*.panel-body{padding: 0;}*/


/******  聊天框    **************/
	.mes_dMinimize{ position: absolute;cursor: pointer; top: 0;right: 35px; color: #000;font-size: 44px;width: 32px; height: 47px; line-height: 47px; text-align: center; }
	.chatMin{ width: 160px; height: 40px; line-height: 40px;font-size: 18px; position:fixed; bottom: 0; background-color: #fff; left: 50%;margin-left: -80px;z-index: 999999; box-shadow: 0 0 10px #000;display: none;text-align: center;cursor: pointer; }
	.delChatMes{ display: none; position: absolute;width: 19px;height: 19px;background-color: #FFFFFF;line-height: 16px;text-align: center;font-size: 16px;border-radius: 9.5px;top: -9px;cursor: pointer;border: 1px solid#A29999; }
	.delChatMes_right{right: -12px;  }
	.delChatMes_left{left: -12px;  }
	.chatMesCon:hover .delChatMes{ display: block; }
	.chat_submit{ margin:auto 5px 0;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.428571429;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;border-radius: 4px;-webkit-user-select: none; }
/******  end    **************/

/******   最近联系人    ***********/
.recent-container{ overflow: auto; height: 100%;}
.friends-list-box{ display: none;border-top: 1px solid #ccc; position: relative; z-index: 111; }
.friend-group{ cursor: pointer; position: relative;}
.drop-down{position: absolute;top: 16px;right: 23px;border-left: 6px solid transparent; border-top: 6px solid #000;border-right: 6px solid transparent;  }


.list-group{margin-bottom: 0px;}
.online_man{/*overflow: auto !important;*/text-align: center;margin: 0 auto;box-shadow: 0 0 5px #999;}
.online_man{/*overflow: auto;*/box-shadow: 0 0 5px #999;position: absolute;width: 140px;left: 0px;top: 0;background: #fff;height: 100%;display: block;}
.con-tab-content .list-group li, .panel-body .list-group li{overflow: hidden;font-size: 16px;cursor: pointer;padding-left: 2px;line-height: 40px;padding-top: 2px;padding-bottom: 2px;width: 100%}
.onlinesSroll-box{display: none;min-height: 20px;position: absolute;top: 38px;right: 0;z-index: 99999;width: 10px;border-radius: 5px;background: rgba(0,0,0,.4);height: 100px;}
/*.man_tittle{position: absolute;top: 0;z-index: 11111;}*/.mes_dclose{cursor: pointer;display: none;position: absolute;top: 0;right: 0;color: #fff;font-size: 38px;padding: 0 10px 0 0;}
.panel-title{display: inline-block;}
.add-groupMan{display: none;cursor: pointer;position: absolute;left: 10px;top: 15px;background: url(../images/pulsGroupman.png) no-repeat;width: 32px;height: 32px;}
.chat_alert{display: none;position: absolute;width: 200px;z-index: 99;top: 50%;left: 50%;margin-left: -100px;margin-top: -50px;height: 30px;line-height: 30px; text-align: center;}
.myFriend-body ul{max-height: 300px;overflow: auto;}
.delgroupman{display: none;color: #fff;position: absolute;width: 40px;height: 40px;cursor: pointer;text-align: center;right: 0;background-color: #ed145b; top: 0;}
.group-people{position: relative;}
.list-group .header-img{margin-left: 5px;padding: 2px 0;border-radius: 5px;margin-right: 5px;width: 40px;height: 40px;display: inline-block;overflow: hidden;float: left;}
.he_ov .header-img{border-radius: 60px;display: inline-block;height: 60px;width: 60px;overflow: hidden;}
/*.header-img img{width: 60px;}*/
.session_no img, .chat_people img, .chat_system_notice img{border-radius: 5px;margin-right: 5px;width: 35px;}
.he_ov .header-img img{width: 60px;}
.online_man ul li, .group_pep li{line-height: 40px;text-align: left;list-style: none;border-bottom: 1px solid #dedede;height: 47px;padding: 2px 0;cursor: pointer;}
.com-close, .com-close{font-size: 32px;color: #fff;padding-right: 10px;position: absolute;right: 0;cursor: pointer;}
.plus_menu{border-radius: 5px;height: 50px;background-color: #fff;width: 160px;}
.plus_menu_box{display: none;position: absolute;bottom: 100%;height: 60px;}
.icon-caret-down{font-size: 32px;position: absolute;bottom: -10px;left: 15px;color: #fff;font-family: FontAwesome !important;}
.icon-folder-open{font-family: FontAwesome !important;}
.plus_menu img{padding: 10px;}
.rotate-box{ color: #fff;position: absolute;top: 0;left: 0;padding: 10px; }
.rotate-box i{font-family: FontAwesome !important;margin: 10px;background-color: rgba(0,0,0,0.2);padding: 10px;}
.plus_menu{cursor: pointer;}
.he_ov i{font-family: FontAwesome !important;color: #ed145b;}
.file-box{background-color: #fff;padding: 5px;}
.file-box span{color: #000;}
.file-box a{text-align: right;text-decoration: none;}
.file-box div{padding: 3px;}
#progressbar{z-index: 999999;display: none;position:relative;position: absolute;width: 200px;top: 50%;height: 15px !important;left: 50%;margin-right: -100px;}
.progress-label{height: 15px;line-height: 10px;position: absolute;}
.file-main{display: none;}
.ui-progressbar .ui-progressbar-value{margin: 0;}
.icon-double-angle-right-box i{cursor: pointer;position: absolute;top: 50%;right: 0;font-family: FontAwesome !important;padding: 3px 10px;background-color: #ccc;}
/*.mes_fixed{display: none;}*/.list-group li{position: relative;}
.recent-action{display: inline-block !important;}
.recent-close{position: absolute;display: none;width: 20px;line-height: 20px;height: 20px;right: -9px;/*background-color: #ed145b;*/font-size: 14px;color: #000;text-align: left;border-radius: 20px;/*padding: 3px;*/top: -4px;}
.mes_close{display: none;cursor: pointer;margin-right: 5px;background: #ccc;color: #fff;position:absolute;width:20px;height:20px;border-radius: 50%;right: 0;top: 50%;margin-top: -10px;}
.mes_num, .session-tab-num{    cursor: pointer;margin-right: 5px;background: #ed145b;color: #fff;position: absolute;width: 20px;height: 20px;border-radius: 50%;right: 0;top: 50%;line-height: 20px;text-align: center;margin-top: -10px;}
.mes_move{cursor: move;background-color: #fff;text-align: center;}
.mes_move i, .dropdown i{font-family: FontAwesome !important;}
.container-box .dropdown{position: absolute !important;top: 10px;right: 10px;}
.panel-default{position: relative;}
.panel-group .panel{overflow: visible;}
.container-box .dropdown-menu{right: 0;left: inherit;}
.container-box .dropdown-menu .dropdown-menu-man{padding: 0 10px;cursor: pointer;}
.staff-info-box{height: 108px;width: 260px;position: absolute;z-index: 99999999;padding: 5px;box-shadow: 0 5px 10px rgba(0, 0, 0, .2);-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);background-color: #fff;border: 1px solid rgba(0, 0, 0, .2);}
.staff-info-box .arrow{top: 50%;margin-top: -11px;border-right-color: #999;border-right-color: rgba(0, 0, 0, .25);position: absolute;display: block;width: 0;height: 0;border-top:8px solid transparent;border-bottom:8px solid transparent;}
.staff-info{position: relative;}
.staff-info-box ul li{line-height: 25px;height: 25px;text-align: left !important;padding: 0 !important;}
/*.con-tab-content ul{border-top: 1px solid #ccc;}*/
.con-tab-content ul li{/*overflow: hidden;*/}
.man_tittle{background-color: #fff;text-align: center;height: 38px;line-height: 20px;border-bottom: 1px solid #dedede;color: #333;font-size: 14px;font-weight: 700;width: 100%;margin: 0 auto;}
.kefu-icon{position: relative;overflow: hidden;}
.kefu-icon .kefu{position: absolute;width: 40px;top: 40px;height: 40px;background: #000;color: #fff;text-align: center;}
.mes_fixed{cursor: move;}
.web_chat_voice_right_play{min-width: 30px;height: 29px;border-radius: 5px;background: url('/chat/images/voice_right.png') right no-repeat;float:right;}
.web_voice_right_playing{min-width: 30px;height: 29px;border-radius: 5px;background: url('/chat/images/voice_right.gif') right no-repeat;float:right;}
.chat_duration_right{position: absolute;right: 100%;color: #000;margin-right: 5px;font-size: 12px;}
.chat_duration_left{position: absolute;left: 100%;color: #fff;margin-left: 5px;font-size: 16px;}
.web_chat_voice_left_play{min-width: 30px;height: 29px;border-radius: 5px;background: url('/chat/images/voice_left.png') left no-repeat;float:left;}
.web_voice_left_playing{min-width: 30px;height: 29px;border-radius: 5px;background: url('/chat/images/voice_left.gif') left no-repeat;float:left;}
.mes_content{position: relative;}
.chat_input_key{cursor: pointer;width: 50px;height: 50px;display: block;background-position: center;background-color: #fff;background-image: url(/chat/images/input_key.png);background-repeat: no-repeat;}
/*.chat_input_text{-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}*/.chat_voice_input{display: none;}
.chainEmployees{display: none;position: absolute;top:20px;left: 20px;width: 200px;box-shadow: 0 0 10px #ccc;height: 600px;overflow: auto;border-radius: 10px;padding: 5px;background-color: #fff;}
.chainEmployees ul.list-group li{ cursor: pointer; list-style: none;transition: border 1s;-moz-transition: border 1s;/* Firefox 4*/-webkit-transition: border 1s;/* Safari 和 Chrome*/-o-transition: border 1s;/* Opera*/border-bottom: 1px solid #ccc;}
.externalStaffid-header-img img{width: 40px;height: 40px;padding: 3px;border-radius: 5px;margin-right: 5px;}
.staff-close{text-align: right;cursor: pointer;text-align: right;cursor: pointer;height: 13px;line-height: 15px}
.externalStaffTitle{text-align: right;cursor: move;}
.mes_header{width: 55px;height: 55px;float: left;overflow: hidden;}
.mes_header img{width: 55px;float: left;padding: 5px;}
.mes_content_list{width: 100px;height:30px;padding: 0 5px;float: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;text-align: left;}
.search_box{width: 100%;margin-top: 37px;text-align: right;padding: 5px 5px 0 5px;border-bottom: 1px solid #ccc;position: relative;padding: 0 0 0 32px;}
.search_box input{height: 35px;color: #9f9fb1;border: 0;outline: none;display: block;font-family: "Microsoft YaHei";width: 100%;}
.search_staff{position: absolute;top: 3px;left: 0px;background: url('/chat/images/search.png') center no-repeat;width: 32px;height: 32px;line-height: 32px;display: inline-block;}
.search_result{background: #fff;position: absolute;width: 100px;top: 100%;left: 0;z-index: 99999;width: 100%; display: none; margin-top: 1px;}
.search_result span{float: left;text-align: center;line-height: 40px; height: 40px;display: inline-block;overflow: hidden;}
.customer_followed{cursor: pointer;height: 16px;display: inline-block;width: 16px;padding: 0 5px;background-image: url('/chat/images/follow0.png');background-position: center;background-repeat: no-repeat;}
.chain_chat_tab{width: 100%;height: 40px ;}
.chain_chat_tab ul{padding: 0;}
.chain_chat_tab .current{background-color: #46b8da;}
.chain_chat_tab ul li{cursor: pointer;width: 50%;height: 40px ;line-height: 40px;float: left;list-style: none;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc}
.chat_notice_close{text-align: center;font-size: 20px;width: 32px;height: 32px;line-height: 32px;}
.chat_notice_close:hover{ background-color: #ED145B; }
.chat_notice_container ul li{width: 400px;height: 50px;box-shadow: 0 0 5px #6F6A6A;margin: 20px auto;display: -webkit-box;display: -moz-box;display: box;}
.chat_notice_container ul li img{text-align: left;width: 50px;height: 50px;}
.chat_notice_container ul div{height: 50px;}
.chat_notice_img, .chat_notice_img img{width: 55px;height: 55px;padding: 3px;}
.chat_notice_list{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;-webkit-box-orient: horizontal;-moz-box-orient: horizontal;-ms-box-orient: horizontal;box-orient: horizontal;display: -webkit-box;display: -moz-box;display: box;width: 100%;margin: 20 auto;background: #95B0C3}
.chat_notice_con{word-break: initial;-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}
.chat_notice_con span{padding: 0 5px;border-bottom: 1px solid #ccc;width: 100%;height: 25px;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.chat_notice_sel{cursor: pointer;height: 30px;margin: 10px 0;text-align: center;line-height: 30px;border: 1px solid #ccc;box-shadow: 0 0 1px #ccc;}
.chat_notice_agree { background-color: #88CC86;}
.chat_mes_notice{position: absolute;top: 10px;right: 10px;font-size: 16px;cursor: pointer;}
.chat_mes_notice img{width: 16px;}
.chain_chat_con{display: none;}

.chat_friend_current{display: block !important;}

.chat_mes_content img{ width: 24px !important; }
.man_tittle{position: absolute;top: 0;z-index: 1111;}
.container-box .dropdown-menu{color: #000;}
/*************  消息提示  *********************/
/*.mesNoticeSet{ background-image: url('/chat/images/mesNotice.png');background-position: left; background-repeat: no-repeat;  }*/
.mesNoticeContainer{  position: absolute; bottom: 0; right: 0;z-index: 999999;width: 320px; margin-right: 10px;}
.mesNoticeSet{ height: 40px; }
.clear{clear: both;}
.mesNotice{ width: 320px; height: 70px; background: #fff; box-shadow: 0 0 10px #ccc;position: relative; padding: 10px; bottom: 0;}
.mesNoticeClose { position: absolute; top: 0; right: 0; padding: 5px; font-size: 18px;cursor: pointer; }
.mesNoticeTittle, .mesNoticeCon{    white-space: nowrap;overflow: hidden;text-overflow: ellipsis;height: 50%;float: left; width: 240px;padding-left: 10px;overflow: hidden;}
.mesNoticeImg{ width: 50px; height: 100%;background: #000; overflow: hidden;float: left;}
.mesNoticeImg img{width: 50px;}
/***************** end  *****************/
i.voiceOff{ display: inline-block; background: url('/chat/images/voiceOn.png') center no-repeat; width: 16px; height: 16px;line-height: 16px;vertical-align: middle;margin: 5px;}
i.voiceOn{ display: inline-block; background: url('/chat/images/voiceOff.png') center no-repeat; width: 16px; height: 16px;line-height: 16px;vertical-align: middle;margin: 5px;}
i.deskOff{display: inline-block; background: url('/chat/images/deskOn.png') center no-repeat; width: 16px; height: 16px;line-height: 16px;vertical-align: middle;margin: 5px;}
i.deskOn{display: inline-block; background: url('/chat/images/deskOff.png') center no-repeat; width: 16px; height: 16px;line-height: 16px;vertical-align: middle;margin: 5px;}

.chat_message_notice{ text-align: center; width: 350px; background: #fff;z-index: 222222; padding: 20px; max-height: 300px;overflow: auto;}
.chat_message_notice_con{ margin: 10px 0;    height: 50px;padding: 10px;border: 1px solid #ccc;box-shadow: 0 0 3px #ccc;}
.chat_close{    position: absolute;top: 0;right: 0;margin: 0px 5px;cursor: pointer;width: 20px;height: 20px;line-height: 20px;font-size: 20px;}
/***********  表情的滑过  ***********/

.cli_em:hover{ border:1px solid #000;  }

/******  文件分享 **********/

.chat-share{ width: 60px; height: 24px; display: inline-block; background: url('/chat/images/chat_share.png') center no-repeat; padding: 0 10px; cursor: pointer; }
.container-box{height: 100%}

/***********  end  ***********/
@media (min-width: 600px){
    .friendItem-box{ margin: 10px;padding: 10px; }
    /***********   通知消息  ***********/
	.chat_notice_box{ position: fixed;  display: none; top: 100px; left: 50%;  margin-left: -186px;box-shadow: 0 0 10px #ccc;}
	/**************  输入框 ******************/
	.pc_mes_tool_list{cursor: pointer;}
	.he-ov-box{bottom: 180px;}
	.pc_mes_input_box{ width: 100%; height: 180px;background: #fff;position: absolute;bottom: 0;border-top: 1px solid #ccc;}
	/*.pc_he-ov-box .content-font{border: 1px solid #ccc;}*/
	.pc_mes_input{padding: 10px;height: 100px;border: 0;outline: none;overflow: auto;}
	.pc_mes_input_box .pc_mes_tool{width: 100%; height: 40px;padding: 5px;border-bottom: 1px solid #ccc;}
	.pc_mes_tool ul li{float: left;width: 32px;height: 32px;margin: 0 5px;}
	.pc_mes_tool_emoji{background: url('/chat/images/biaoqing.png') center no-repeat;}
	.pc_mes_tool_img{background: url('/chat/images/chat_img.png') center no-repeat;}
	.pc_mes_tool_file{background: url('/chat/images/chat_file.png') center no-repeat;}
	.pc_mes_tool_audio{background: url('/chat/images/iconfont-yuyin.png') center no-repeat;width: 32px;height: 32px;float: left;}
	.pc_mes_tool_video{background: url('/chat/images/chat_video.png') center no-repeat;width: 32px;height: 32px;float: left;}
	.pc_mes_tool_videoM{background: url('/chat/images/vMChat.png') center no-repeat;width: 32px;height: 32px;display: inline-block}
	.pc_mes_input_box .pc_mes_send{height: 40px;text-align: right;}
	.pc_mes_input_box .chat_btn{height: 30px;cursor: pointer; background-color: #fff;color: #222;padding-left: 30px;padding-right: 30px;display: inline-block;border: 1px solid #ccc;line-height: 30px;text-align: center;margin: 0 30px;}
	/** 表情  */
	.pc_emoji_box{ display: none; background: #fff; position: absolute; width: 350px; box-shadow: 0 0 10px #ccc;border-radius: 5px;max-height: 200px;min-height: 100px; overflow: auto !important;bottom: 100%;}
	/******************  end  *****************************/
	
	/*********************  聊天框  *************************/
    .modal-css{ width: 965px; }
    .mb-chat-tab-content{ display: none !important; }
    .mes_content .jian{border: 5px solid transparent; border-right-color: #eee; border-top-color: #eee;margin-top: 10px;}
    .content-font{background-color: #eee;padding:6px 10px; display: block;border-radius: 7px;min-width: 40px; max-width: 400px;font-size: 14px;word-break:break-all; /*支持IE，chrome，FF不支持*/word-wrap:break-word;/*支持IE，chrome，FF*/min-height: 25px;}
    .content-font .Journalism{color: #81E9EC;width: 100%;display: block;text-decoration: none}
	.pc_he-ov-box .seeMore{ color: #000; }
	.chat_initial{ background: url('/chat/images/chat_initial.png') center no-repeat;}	
	.mes_title{padding: 3px;border-bottom: 1px solid #ccc;text-align: center;cursor: move;}
	.mes_title_con{text-align: center;color: #848080;cursor: move;display: inline-block;}
	.vaChat{ width: 200px;position: fixed;top: 40%;left: 50%;margin-left: -100px;height: 32px;background-color: #2B6A8A;color: #fff;line-height: 32px;text-align: center;z-index: 999999;} 
	.vaChat span{ position: absolute;left: 100%;display: inline-block;margin: 0 10px;
    background-color: #CA5050;width: 46px; }
    .vaChatRequest{ width: 200px;  height: 108px;line-height: 66px;color: #fff; background-color: #2B6A8A;position: fixed;top: 30%;left: 50%;margin-left: -100px; text-align: center;z-index: 999999;}
    .vaChatRequest span { height: 30px;cursor: pointer;background-color: #fff;color: #222;padding-left: 11px;padding-right: 16px;display: inline-block;line-height: 30px;text-align: center;margin: 0 10px;float: left;}
    .vaChatRequest .vaAnswer{ background-color: #5AC147; }
    .vaChatRequest .vaCancel{ background-color: #CA5050; }
    .handleBox{     height: 50px;line-height: 50px;text-align: center;padding-left: 20px; }
	/*********************  end  *************************/
	.viewer-container{ background-color: #000; }
  .chat-send-select { 
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 20px;
    right: 10px;
    border: 1px solid #ccc;
   }
  .chat-send-form{
    cursor: pointer;
    border-top: 8px solid #955F34;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    top: 12px;
    right: 4px;
  }
  .send-list {
    position: absolute;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 1px 20px rgba(0,0,0,.1);
    left: auto;
    right: 0;
    bottom: 100%;
    width: 180px;
    padding: 10px 0;
  }
  .send-list li{
      cursor: pointer;
        padding-right: 15px;
    line-height: 28px;
  } 
  .send-list li:hover{ 
    background-color: #ccc;
  } 
  .send-current {
    border-left: 8px solid #88154c ; 
  } 
/*********  群  ***************/
.chat_notice_container{padding: 0 10px;display: none;overflow: auto !important;width: 500px;height: 300px;position: absolute;top: 50%;left: 50%;margin-top: -200px;margin-left: -250px;border:1px solid #ccc;box-shadow: 0 0 10px #6F6A6A;background-color: #fff;color: #000;z-index: 999999
}
.group-man-show{ width: 190px; display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;  }
.group-chat{ border-bottom: 1px solid #ccc;position: relative; }  
/*********  end ***************/
.online_man .list-group{top: 73px;position: absolute;width: 100%;overflow: auto;}
.mes_dclose{display: none;color: #000}
.container-box{width: 1000px;margin: 0 auto;height: 100%}
.chat-container{box-shadow: 0 0 10px #000;position: relative;background: #fff !important;width: 600px !important;height: 100%;margin: 0 0 0 280px;padding: 0;}
.details-list{position: relative;box-shadow: 0 0 10px #656e73;width: 260px;background-color: #fff;height: 100%;float: left;}
.container-title{background: rgba(0,0,0,.5)!important;color: #fff;height: 64px;border-bottom: 1px solid #000;}
.container-header{height: 64px;text-align: center;background: url(../images/herderbg.jpg) no-repeat;}
.container-header img{display: block;margin-top: 5px;position: absolute;padding-left: 4px;padding-top: 2px;}
.container-header h3{margin: 0;}
.container-tab, .container-tab ul li{height: 40px;width: 100%;text-align: center;}
.container-tab ul{position: relative;border-bottom: 1px solid #ccc;clear: both;height: 41px;}
.container-tab ul li{padding-top: 2px;width: 25%;float: left;cursor: pointer;}
.sanjiao{width: 0;height: 0;border-bottom: 8px solid #955F34;border-left: 6px solid transparent;border-right: 6px solid transparent;position: absolute;left: 12.5%;top: 100%;margin-left: -5px;margin-top: -7px;}
.clear{clear: both;}
.group_pep{margin-top: 8px;}
.con-tab-content{display: block;}
.group-content{display: none;}
.recent-contact{font-size: 16px;}
.send-img-box{z-index: 9999999;position: absolute;width: 800px;height: 100%;top: 0;left: 50%;margin-left: -400px;background-color: rgba(0,0,0, 1);display: none;text-align: center;vertical-align:middle;overflow: hidden;}
.send-img-box img{position: absolute;top: 50%;left: 50%;max-width: 800px;max-height: 100%;}
.he_ov .send-img{max-width: 200px;cursor: zoom-in;}
.img-box{display: none;width: 500px;min-height: 100px;position: fixed;top: 100px;left: 50%;margin-left: -250px;background-color: #fff;box-shadow: 0 5px 15px rgba(0,0,0,.5);-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);-moz-box-shadow: 0 5px 15px rgba(0,0,0,.5); z-index: 9999999;}
.img-box-title{height: 40px;text-align: center;font-size: 18px;}
.img-box-act{text-align: center;}
.img-box-act span{margin: 10px;width: 100px !important;}
.sending-img-box{text-align: center;}
.sending-img-box img{max-width: 500px;}}
.groupMan-list{ padding: 2px; }
@media (max-width: 600px){
	/*********************  输入框  **************************/
	.friendItem-box{ max-height: 440px; overflow: auto; }
	.mb_mes_footer{display: block;}
	/*********************   end  **************************/
	/*********************   聊天框 **************************/
	.delChatMes{ display: block !important;}
    .pc_mes_tool_video{background: url('/chat/images/chat_video.png') center no-repeat;width: 45px;height: 48px;display: inline-block;line-height: 48px;float: right;}
    .pc_mes_tool_videoM{background: url('/chat/images/vMChat.png') center no-repeat;width: 32px;height: 32px;display: inline-block}
	/*********************   end **************************/
	/**************  通知消息 ****************/
	.chat_notice_box{ width: 100%; position: fixed;  display: none; top: 100px; box-shadow: 0 0 10px #ccc;z-index: 999999; }
	.vaChat{ width: 100%;position: fixed;top: 40%;height: 32px;background-color: #2B6A8A;color: #fff;line-height: 32px;text-align: center;z-index: 999999;}
	.vaChat span{ position: absolute;display: inline-block;margin: 0 10px;
    background-color: #CA5050;width: 46px; }
	.vaChatRequest{ width: 100%;  height: 108px;line-height: 66px;color: #fff; background-color: #2B6A8A;position: fixed;  text-align: center;z-index: 999999;top: 20%;} 
	 .vaChatRequest span { height: 30px;cursor: pointer;background-color: #fff;color: #222;padding-left: 11px;padding-right: 16px;display: inline-block;line-height: 30px;text-align: center;margin: 0 10px;float: left;}
    .vaChatRequest .vaAnswer{ background-color: #5AC147; }
    .vaChatRequest .vaCancel{ background-color: #CA5050; }
     .handleBox:before{ content: ''; clear: both;}
    .handleBox {width: 171px; margin: auto;}
	.pc_mes_input_box{display: none;}
    .content-font{background-color: #fff;padding:6px 10px;display: block;border-radius: 7px;min-width: 40px; max-width: 400px;font-size: 14px;word-break:break-all; /*支持IE，chrome，FF不支持*/word-wrap:break-word;/*支持IE，chrome，FF*/min-height: 25px;}
    .content-font .Journalism{color: #000;width: 100%;display: block;text-decoration: none}
    .mes_content .jian{border: 5px solid transparent; border-right-color: #fff; border-top-color: #fff;margin-top: 10px;}
    .content-font{max-width: 230px !important;}
.chat_notice_container{padding:0 10px;overflow: auto !important; display: none; width: 100%;position: absolute;top: 200px;border:1px solid #ccc;box-shadow: 0 0 10px #6F6A6A;background-color: #fff;color: #000;z-index: 999999}
.chat_message_notice{width: 100%;left: 0;margin-left: 0;top: 150px;}
.online_man{overflow: auto;}
.mes_dclose{display: block;}
.mes_title{cursor: pointer;text-align: center;cursor: move;}
.details-list{position: relative;box-shadow: 0 0 10px #656e73;width: 100%;background-color: #fff;height: 100%;float: left;}
.chat-container{display: none;}
.container-title{background: rgba(0,0,0,.5)!important;color: #fff;height: 64px;border-bottom: 1px solid #000;}
.container-header{height: 64px;text-align: center;background: url(../images/herderbg.jpg) repeat;}
.container-header img{display: block;border-radius: 50px;margin-top: 5px;position: absolute;}
.container-header h3{margin: 0;}
.container-tab, .container-tab ul li{height: 40px;width: 100%;text-align: center;}
.container-tab ul{position: relative;border-bottom: 1px solid #ccc;clear: both;height: 41px;}
.container-tab ul li{padding-top: 2px;width: 25%;float: left;cursor: pointer;}
.sanjiao{width: 0;height: 0;border-bottom: 8px solid #fc5e5e;border-left: 6px solid transparent;border-right: 6px solid transparent;position: absolute;left: 12.5%;top: 100%;margin-left: -5px;margin-top: -7px;}
.clear{clear: both;}
.group_pep{margin-top: 8px;}
.con-tab-content{display: block;}
.group-content{display: none;}
.recent-contact{font-size: 16px;}
.add-groupMan{display: none;cursor: pointer;position: absolute;left: 10px;top: 15px;background: url(../images/pulsGroupman.png) no-repeat;width: 32px;height: 32px;}
.chat_alert{display: none;position: absolute;width: 200px;z-index: 99;top: 50%;left: 50%;margin-left: -100px;margin-top: -50px;height: 30px;line-height: 30px; text-align: center;}
.com-close, .com-close{font-size: 32px;color: #fff;padding-right: 10px;position: absolute;right: 0;cursor: pointer;}
.send-img-box{ z-index: 9999999; position: fixed;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0,0,0, 1);display: none;text-align: center;vertical-align:middle;}
.send-img-box img{position: absolute;top: 50%;left: 50%;max-width: 100%;max-height: 100%;}
.he_ov .send-img{max-width: 150px;cursor: zoom-in;}
.img-box{display: none;width: 500px;min-height: 100px;position: absolute;top: 100px;left: 50%;margin-left: -250px;background-color: #fff;box-shadow: 0 5px 15px rgba(0,0,0,.5);-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);-moz-box-shadow: 0 5px 15px rgba(0,0,0,.5);}
.img-box-title{height: 40px;text-align: center;font-size: 18px;}
.img-box-act{text-align: center;}
.img-box-act span{margin: 10px;width: 100px !important;}
.sending-img-box{text-align: center;}
.sending-img-box img{max-width: 500px;}}
/*@media (max-width: 900px){*//*.mes_fixed_big{display: none;}*//*}*/#userlist{min-height:600px;background:#EEEEEE;}
#userlist > li{color:#1372A2;list-style:none;margin-left:12px;}
#userlist > h4{text-align:center;font-size:14px;font-weight:nold;}
.words{margin:8px;}
.triangle-isosceles{min-width: 35px;position:relative;padding:10px;margin:10px 0 15px;color:#000;background:#D3FF93;/* default background for browsers without gradient support*/background:-webkit-gradient(linear, 0 0, 0 100%, from(#EFFFD7), to(#D3FF93));background:-moz-linear-gradient(#EFFFD7, #D3FF93);background:-o-linear-gradient(#EFFFD7, #D3FF93);background:linear-gradient(#EFFFD7, #D3FF93);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);-webkit-box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);}
.triangle-isosceles:hover{top:-2px;left:-2px;-moz-box-shadow:3px 3px 2px hsla(0, 0%, 0%, 0.3);-webkit-box-shadow:3px 3px 2px hsla(0, 0%, 0%, 0.3);box-shadow:3px 3px 2x hsla(0, 0%, 0%, 0.3);}
.triangle-isosceles.top{word-wrap:break-word;word-break:normal;display: inline-block;max-width: 50%;background:-webkit-gradient(linear, 0 0, 0 100%, from(#D3FF93), to(#EFFFD7));background:-moz-linear-gradient(#D3FF93, #EFFFD7);background:-o-linear-gradient(#D3FF93, #EFFFD7);background:linear-gradient(#D3FF93, #EFFFD7);}
.triangle-isosceles:after{content:"";position:absolute;bottom:-9px;left:15px;border-width:9px 21px 0;border-style:solid;border-color:#D3FF93 transparent;display:block;width:0;}
.triangle-isosceles.top:after{top:-8px;left:15px;bottom:auto;border-width:0 9px 9px;border-color:#D3FF93 transparent;}
.user_icon{float:left;border:1px solid #DDDDDD;padding:2px;margin:0 5px 0 5px;}
.cp{color:#888888;text-align:center;font-size:11px;}
.thumbnail{/*width: 100%;float: left;*/}
/* 弹出框 style*//* --------------------------------
Primary style
--------------------------------*/
a{color: #35a785;text-decoration: none;}
/* --------------------------------
Modules - reusable parts of our design
--------------------------------*/.img-replace{/* replace text with an image*/display: inline-block;overflow: hidden;text-indent: 100%;color: transparent;white-space: nowrap;}
/* --------------------------------
Main components
--------------------------------*/
.cd-popup-trigger{display: block;width: 170px;height: 50px;line-height: 50px;margin: 3em auto;text-align: center;color: #FFF;font-size: 14px;font-size: 0.875rem;font-weight: bold;text-transform: uppercase;border-radius: 50em;background: #35a785;box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);z-index: 99999999;}
@media only screen and (min-width: 1170px){.cd-popup-trigger{margin: 6em auto;}}
/* --------------------------------
xpopup
--------------------------------*/
.cd-popup{position: fixed;left: 0;top: 0;height: 100%;width: 100%;background-color: rgba(94, 110, 141, 0.9);opacity: 0;visibility: hidden;-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;transition: opacity 0.3s 0s, visibility 0s 0.3s;z-index: 999999}
.cd-popup.is-visible{opacity: 1;visibility: visible;-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;-moz-transition: opacity 0.3s 0s, visibility 0s 0s;transition: opacity 0.3s 0s, visibility 0s 0s;}
.cd-popup-container{position: relative;width: 90%;max-width: 400px;margin: 4em auto;background: #FFF;border-radius: .25em .25em .4em .4em;text-align: center;box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);-webkit-transform: translateY(-40px);-moz-transform: translateY(-40px);-ms-transform: translateY(-40px);-o-transform: translateY(-40px);transform: translateY(-40px);/* Force Hardware Acceleration in WebKit*/-webkit-backface-visibility: hidden;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;transition-property: transform;-webkit-transition-duration: 0.3s;-moz-transition-duration: 0.3s;transition-duration: 0.3s; z-index: 99999999;}
.cd-popup-container p{padding: 3em 1em;}
.cd-popup-container .cd-buttons:after{content: "";display: table;clear: both;}
.cd-popup-container .cd-buttons li{width: 20%;margin: 0 auto;}
.cd-popup-container .cd-buttons a{display: block;height: 60px;line-height: 60px;text-transform: uppercase;color: #FFF;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;transition: background-color 0.2s;}
.cd-popup-container .cd-buttons li:first-child a{background: #fc7169;border-radius: 0 0 0 .25em;}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover{background-color: #fc8982;}
.cd-popup-container .cd-buttons li:last-child a{background: #b6bece;border-radius: 0 0 .25em 0;}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover{background-color: #c5ccd8;}
.cd-popup-container .cd-popup-close{position: absolute;top: 8px;right: 8px;width: 30px;height: 30px;}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after{content: '';position: absolute;top: 12px;width: 14px;height: 3px;background-color: #8f9cb5;}
.cd-popup-container .cd-popup-close::before{-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);left: 8px;}
.cd-popup-container .cd-popup-close::after{-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);right: 8px;}
.is-visible .cd-popup-container{-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
@media only screen and (min-width: 1170px){.cd-popup-container{margin: 8em auto;}}