@charset "utf-8";
/* CSS Document */
*{margin: 0 auto;padding: 0 auto;}
body{ height: 100%;overflow: hidden;}
.mes_containner {
    width: 100%;
    height: 100%;
    background: #000;
}
@media (min-width: 900px){
.mes_header{
	width: 100%;
	height: 45px;
}
.mes_title{
	color: #fff;
	padding: 10px 20px;
	text-align: center;
}
.bagimg img{
	z-index: -1;
	display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation-name: fadeInOut;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: alternate;
}
.mes_containner {
		background: rgba(0,0,0,.5)!important;
	    width: 900px;
	    height: 100%;
	    margin: 0 auto;
	}
}



